/* Only works with values 100%+ */
:root {
  --block-width: 120%;
}

.nice-hl {
  text-decoration: none;
  transition: 0.4s;
}

a.nice-hl {
  color: rgb(101, 209, 103);
}

a.nice-hl:hover {
  color: rgb(148, 255, 146);
}

.description-body p {
  font-size: large;
  text-align: left;
  margin: 1% 0 0 0;
}

.push-down-much {
  margin: 0 0 10% 0;
}

.push-down {
  margin: 0 0 5% 0;
}

.list-header {
  font-weight: 600;
  font-size: x-large;
  text-align: left;
  text-transform: uppercase;
  width: calc(var(--block-width) * 2);
}

.separator {
  color: rgb(72, 73, 78);
  width: calc(var(--block-width) / 1.21);
}